/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
	font-family: 'FucXed';
	src: url('fonts/fucxedcaps-webfont.woff2') format('woff2'),
	     url('fonts/fucxedcaps-webfont.woff') format('woff'),
	     url('fonts/fucxedcaps-webfont.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Crimson Text';
	src: url('fonts/crimson/crimson-roman-webfont.woff2') format('woff2'),
	     url('fonts/crimson/crimson-roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Crimson Text';
	src: url('fonts/crimson/crimson-italic-webfont.woff2') format('woff2'),
	     url('fonts/crimson/crimson-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Crimson Text';
	src: url('fonts/crimson/crimson-bold-webfont.woff2') format('woff2'),
	     url('fonts/crimson/crimson-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Crimson Text';
	src: url('fonts/crimson/crimson-bolditalic-webfont.woff2') format('woff2'),
	     url('fonts/crimson/crimson-bolditalic-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

body {
	font-size: 18px;
	line-height: 1.4em;
	font-family: 'Crimson Text', serif;
}

h1, h2, h3 {
	font-family: "FucXed", sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 72px;
	line-height: 1.1em;
	margin: 120px 0;
}

header h1 {
	position: absolute;
	line-height: 1em;
}

header h1 span {
	padding-top: 10px;
	display: inline-block;
	background: rgba(247, 238, 106, 0.8);
}

h2 {
	font-size: 48px;
	line-height: 1.1em;
	margin: 20px 0;
}

nav {
	padding: 20px;
}

label {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
}

input[type="text"] {
	padding: 10px;
	width: 290px;
	font-size: 18px;
	border: none;
	background: #dedede;
}

input[type="submit"] {
	width: 290px;
	line-height: 42px;
	background: #000;
	color: #fff;
	text-align: center;
	font-family: "FucXed", sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	border: none;
	display: block;
	cursor: pointer;
}

form {
	padding-bottom: 30px;
}

form .buttons {
	padding-top: 30px;
}

header {
	padding: 40px 0;
	position: relative;
	height: 435px;
	background: rgb(247, 238, 106);
}

.container {
	padding: 15px;
	max-width: 730px;
	margin: 0 auto;
}

.joined {
	margin: 20px 0;
	padding: 20px;
	background: #F7EE6A;
}

nav {
	position: relative;
	padding-top: 30px;
}

nav a {
	color: #000;
	font-family: "FucXed", sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 20px;
}

nav .social {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

nav .social a {
	background: rgba(0, 0, 0, 0.1);
	height: 40px;
	width: 40px;
	border-radius: 40px;
	text-align: center;
	line-height: 43px;
	display: inline-block;
	margin-right: 10px;
}

.identity {
	margin-right: 60px;
}

.clear {
	clear: both;
}

#canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

@media screen and (min-width: 760px) {

	form .column {
		width: 50%;
		float: left;
	}

	form .buttons {
		clear: both;
	}

}
